<ion-header>
  <ion-navbar>
    <ion-title>{{ 'CHAT.TITLE' | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding no-bounce>
  <ion-list no-lines>
    <ion-item text-wrap primary *ngFor='let message of messages' class="chat chat-incoming" [ngClass]="{'chat-incoming': !message.incoming, 'chat-outgoing': message.incoming}">
      <ion-avatar item-left *ngIf="message.incoming">
        <img src="assets/img/{{message.author}}.png" alt="{{message.author}}">
      </ion-avatar>
      <h2 text-capitalize>{{message.author}}</h2>
      <small class="text-color-grey-light">{{message.date | date: 'dd.MM.yyyy hh:mm'}}</small>
      <p>{{message.text}}</p>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-list class="mar-no" >
      <form [formGroup]="chatForm" (ngSubmit)="sendMessage()" action>
        <ion-item>
          <ion-input #chat_input formControlName="message" type="text" placeholder="{{ 'CHAT.PLACEHOLDER' | translate }}"></ion-input>
          <button type="submit" ion-button outline item-right>{{ 'CHAT.SEND' | translate }}</button>
        </ion-item>
      </form>
    </ion-list>
  </ion-toolbar>
</ion-footer>
