page-home {

  .home-header {
    position: relative;

    .welcome-header {
      background: #2284b9;
      padding: 15px;
      margin-bottom: -1px;
      span {
        color: white;
        font-size: 28px;
        display: block;
        margin: auto;
        text-align: center;
      }
    }

    ion-profile-header {
      padding-bottom: 10px;
    }

    ion-fab {
      bottom: -25px;
      button {
        background-color: #2875aa;
        ion-icon {
          //color: white;
        }
      }
    }
  }
}
