page-home {
  .home-header {
    position: relative;
    background: $infos-header-background-color-from;
    background: -moz-linear-gradient(top, $infos-header-background-color-from 0%, $infos-header-background-color-to 100%);
    background: -webkit-linear-gradient(top, $infos-header-background-color-from 0%, $infos-header-background-color-to 100%);
    background: linear-gradient(to bottom, $infos-header-background-color-from 0%, $infos-header-background-color-to 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$infos-header-background-color-from', endColorstr='$infos-header-background-color-to',GradientType=0 );

    .welcome-header {
      padding: 15px;
      margin-bottom: -1px;

      span {
        color: $infos-header-welcome-text-color;
        font-size: 2.3em; //28px;
        display: block;
        margin: auto;
        text-align: center;
      }
    }

    ion-profile-header {
      padding-bottom: 10px;
      ion-item.item.item-block {
        background: none;
        .item-inner {
          border-bottom: none;
          p {
            color: $infos-header-profile-text-color;
          }
        }
      }
    }

    ion-fab {
      bottom: -25px;
      .fab {
        background-color: $infos-fab-background-color;
        .fab-close-icon {
          color: $infos-fab-icon-color;
        }
      }
      ion-fab-list {
        .fab.fab-in-list {
          background-color: $infos-fab-in-list-background-color;
        }
        button {
          border: 1px solid $infos-fab-in-list-border-color;
          ion-icon {
            color: $infos-fab-in-list-icon-color;
          }
        }
      }
    }
  }

  .scroll-content {
    background-color: $infos-news-background-color;
  }
  .card{
    background: $infos-news-card-background-color;
    .card-content {
      .location {
        color: $infos-news-card-location-color;
      }
      .time {
        color: $infos-news-card-time-color;
      }
      p {
        color: $infos-news-card-content-text-color;
      }
      .card-title {
        color: $infos-news-card-title-color;
        p {
          color: $infos-news-card-title-date-color;
        }
      }
    }
    ion-row {
      ion-col.title {
        span {
          color: $infos-news-card-subtitle-text-color;
        }
      }
      .sender {
        span {
          color: $infos-news-card-sender-text-color;
        }
      }
      .icon[name=heart]{
        color: $infos-news-card-heart-color-selected;
      }
    }
    expense-item {
      .icon {
        color: $infos-news-card-expense-item-color;
      }
    }
  }

}
