<ion-header>
  <ion-navbar>
    <ion-title start>{{ 'HUB.TITLE' | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="home-page-content" no-bounce>

  <ion-row class="home-header">


    <ion-col no-padding *ngIf="userData">
      <ion-row class="welcome-header">
        <ion-col>
          <span class="welcome-message">Guten Morgen,</span>
          <span class="welcome-name">{{userData.Ename}}!</span>
        </ion-col>
      </ion-row>

      <ion-profile-header [data]="userData"></ion-profile-header>

      <ion-fab right edge #fab>
        <button ion-fab>
          <ion-icon [name]="selectedFilterIcon" (click)="setFilter(0)" #fabicon></ion-icon>
        </button>
        <ion-fab-list side="left">
          <ng-container *ngFor="let channel of feedChannels">
            <button ion-fab *ngIf="channel.shown" (click)="setFilter(channel.filterId, channel.icon, fab)">
              <ion-icon [name]="channel.icon"></ion-icon>
            </button>
          </ng-container>
        </ion-fab-list>
      </ion-fab>
    </ion-col>
  </ion-row>
  <ion-list *ngIf="news">
    <ion-card *ngFor="let article of filtered" [ngSwitch]="article.type">
      <news-item *ngSwitchCase="1" [content]="article"></news-item>
      <message-item *ngSwitchCase="2" [content]="article"></message-item>
      <expense-item *ngSwitchCase="3" [content]="article"></expense-item>
      <calendar-item *ngSwitchCase="4" [content]="article"></calendar-item>
    </ion-card>
  </ion-list>
</ion-content>
