page-home {
  $PRIMARY: color($colors, primary);
  $SECONDARY: color($colors, secondary);

  .home-header {
    position: relative;
    background: color($colors, primary);
    background: -moz-linear-gradient(top, color($colors, primary) 0%, color($colors, secondary) 100%);
    background: -webkit-linear-gradient(top, color($colors, primary) 0%, color($colors, secondary) 100%);
    background: linear-gradient(to bottom, color($colors, primary) 0%, color($colors, secondary) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='color($colors, primary)', endColorstr='color($colors, secondary)',GradientType=0 );
    .welcome-header {
      padding: 15px;
      margin-bottom: -1px;
      span {
        color: color($colors, primary-contrast);
        font-size: 2.3em; //28px;
        display: block;
        margin: auto;
        text-align: center;
      }
    }

    ion-profile-header {
      padding-bottom: 10px;
      ion-item.item.item-block {
        background: none;
        .item-inner {
          border-bottom: none;
          p.user-name {
            //font-size: 1.5em;
          }
        }
      }
    }

    ion-fab {
      bottom: -25px;
      ion-fab-list {
        button {
          border: 1px solid color($colors, primary);
          ion-icon {
            color: color($colors, primary);
          }
        }
      }
    }
  }

  .scroll-content {
    background-color: #E2E2E2;
  }
}
