<ion-header>
  <ion-navbar>
    <ion-title start>{{ 'HUB.TITLE' | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="home-page-content" no-bounce>

  <ion-row class="home-header">


    <ion-col no-padding *ngIf="userData">
      <ion-row class="welcome-header">
        <ion-col>
          <span class="welcome-message">Guten Morgen,</span>
          <span class="welcome-name">{{userData.Ename}}!</span>
        </ion-col>
      </ion-row>

      <ion-profile-header [data]="userData"></ion-profile-header>

      <ion-fab right edge>
        <button ion-fab>
          <ion-icon name="funnel"></ion-icon>
        </button>
        <ion-fab-list side="left">
          <button ion-fab>
            <ion-icon name="heart"></ion-icon>
          </button>
          <button ion-fab>
            <ion-icon name="calendar"></ion-icon>
          </button>
          <button ion-fab>
            <ion-icon name="information"></ion-icon>
          </button>
          <button ion-fab>
            <ion-icon name="paper"></ion-icon>
          </button>
        </ion-fab-list>
      </ion-fab>
    </ion-col>
  </ion-row>
  <ion-list *ngIf="news">
    <ion-card *ngFor="let article of news.articles">
      <img src="{{article.urlToImage}}"/>
      <ion-card-content>
        <ion-card-title>
          {{article.title}}
          <p>{{article.publishedAt | date:'dd.MM.yyyy'}}</p>
        </ion-card-title>
        <p>
          {{article.description}}
        </p>
      </ion-card-content>
      <ion-row no-padding>
        <ion-col text-right>
          <button ion-button clear small color="primary">
            <ion-icon name='heart'></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-card>
  </ion-list>
</ion-content>
