.home-page-content {

  .scroll-content {
    .top-selection {
      height: 70vh;
      color: white;
      background: url(../assets/images/OBFC0A0.png);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 35%;
    }

    .middle-content {
      background: #2da3d2;
      height: 50vh;
      color: white;

      .vwag* {
        font-size: 82px;
      }
    }
  }
}
