<ion-header>
  <ion-navbar>
    <ion-title>Stammdaten</ion-title>
    <!-- <ion-buttons right>
      <button *ngIf="!edit" ion-button clear (click)="editPersonalData()">Bearbeiten</button>
      <button *ngIf="edit" ion-button clear (click)="savePersonalData()">Speichern</button>
    </ion-buttons> -->
  </ion-navbar>

</ion-header>

<ion-content>

  <ion-list>
    <ion-list-header>Name</ion-list-header>
    <ion-item>
      <ion-label>Vorname</ion-label>
      <ion-input type="text" value="{{ personalData.firstname }}" disabled="{{ !edit }}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Nachname</ion-label>
      <ion-input type="text" value="{{ personalData.lastname }}" disabled="{{ !edit }}"></ion-input>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header>Adresse</ion-list-header>
    <ion-item>
      <ion-label>Straße</ion-label>
      <ion-input type="text" value="{{ personalData.street }}" disabled="{{ !edit }}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Hausnummer</ion-label>
      <ion-input type="text" value="{{ personalData.number }}" disabled="{{ !edit }}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Postleitzahl</ion-label>
      <ion-input type="text" value="{{ personalData.postcode }}" disabled="{{ !edit }}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Stadt</ion-label>
      <ion-input type="text" value="{{ personalData.city }}" disabled="{{ !edit }}"></ion-input>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header>Kontakt</ion-list-header>
    <ion-item>
      <ion-label>Email</ion-label>
      <ion-input type="text" value="{{ personalData.email }}" disabled="{{ !edit }}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Mobil</ion-label>
      <ion-input type="text" value="{{ personalData.mobile }}" disabled="{{ !edit }}"></ion-input>
    </ion-item>
  </ion-list>
</ion-content>
