<div class="calendar-header">
  <ion-icon name="arrow-back" (click)="previous()" class="left-arrow"></ion-icon>
  <span>{{month.format("MMMM YYYY")}}</span>
  <ion-icon name="arrow-forward" (click)="next()" class="right-arrow"></ion-icon>
</div>

<div class="week names">
  <span class="day">Su</span>
  <span class="day">Mo</span>
  <span class="day">Tu</span>
  <span class="day">We</span>
  <span class="day">Th</span>
  <span class="day">Fr</span>
  <span class="day">Sa</span>
</div>

<div class="week" *ngFor="let week of weeks">
  <div class="day" (click)="select(day)" *ngFor="let day of week.days" [ngClass]="{ today: day.isToday, 'different-month': !day.isCurrentMonth, selected: day.date.isSame(selected.date), plan: day.plan.background }"
       [style.backgroundColor]="day.plan.background">
    <span class="number">
      {{day.number}}
    </span>
    <span class="letter">
      {{day.plan.type ? day.plan.type : ''}}
    </span>
  </div>
</div>

<div class="selected-day-info" *ngIf="selected.date">
  <div class="long-date-format">
    <h3>{{getLongDateFormat()}}</h3>
  </div>
  <div class="selected-day-start">
    <span>Beginn Arbeitszeit</span>
    <span class="right">{{ selected.plan && selected.plan.begin ? selected.plan.begin : '-' }}</span>
  </div>
  <div class="selected-day-end">
    <span>Ende Arbeitszeit</span>
    <span class="right">{{ selected.plan && selected.plan.end ? selected.plan.end : '-' }}</span>
  </div>
  <!--<div class="selected-day-overtime">-->
    <!--<span>Überstunden</span>-->
    <!--<span class="right">1</span>-->
  <!--</div>-->
</div>

<div class="plan-types" *ngFor="let type of types">
  <span class="type-badge" [style.backgroundColor]="type.background">
    {{type.id}}
  </span>
  <span class="type-name">
    schichit
  </span>
</div>
