
  <ion-list *ngIf="team">
    <ion-item *ngFor="let member of team.members" (click)="goToMemberDetails(member)">
      <ion-avatar item-left class="{{getStatus(member)}}">
        <img src="{{member.PhotoUrl}}">
      </ion-avatar>
      <h2>{{member.Ename}}</h2>
      <p>{{member.PositionTxt}}</p>
      <ion-icon name="chatbubbles" item-right class="blue-icon" (click)="sendEmail($event, member.Email)"></ion-icon>
      <ion-icon name="call" item-right class="blue-icon" (click)="callPhone($event, member.Phone)"></ion-icon>
    </ion-item>
  </ion-list>

