page-team-members {
  $AVAILABLE: green;
  $NOTAVAILABLE: red;
  $AWAY: #FAC914;

  ion-icon {
    &.ion-md-mail {
      margin-right: 25px !important;
    }

    &.status {
      position: absolute;
      bottom: 0;
      left: 45px;
      min-height: auto;
      font-size: 20px;
    }

    &[name=checkmark-circle] {
      color: $AVAILABLE;
    }

    &[name=timer] {
      color: $AWAY;
    }

    &[name=close-circle] {
      color: $NOTAVAILABLE;
    }
  }
}
