<ion-header>
  <ion-navbar>
    <ion-title>Teammitglieder</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list *ngIf="team">
    <ion-item *ngFor="let member of team.members" class="no-padding">
      <ion-avatar item-left>
        <img src="{{member.image}}">
      </ion-avatar>
      <ion-icon *ngIf="member.status === 'available'" name="checkmark-circle" item-left class="status"></ion-icon>
      <ion-icon *ngIf="member.status === 'away'" name="timer" item-left class="status"></ion-icon>
      <ion-icon *ngIf="member.status === 'not-available'" name="close-circle" item-left class="status"></ion-icon>

      <h2>{{member.name}}</h2>
      <p>{{member.role}}</p>

      <ion-icon name="md-mail" item-right class="blue-icon"></ion-icon>
      <ion-icon name="call" item-right class="blue-icon"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
