page-team-members {

  ion-avatar {
    img {
      border: 2px solid;
    }

    &.available img{
      border-color: color($colors, green);
    }

    &.away img{
      border-color: color($colors, red);
    }

    &.not-available img{
      border-color: color($colors, yellow);
    }
  }

}
