<ion-header>

  <ion-navbar>
    <ion-title>ANSPRECHPARTNER</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding no-bounce>

  <ion-list *ngIf="contacts.length > 0">
    <ion-item *ngFor="let contact of contacts" class="no-padding">
      <ion-avatar item-left>
        <img src="{{contact.image}}">
      </ion-avatar>

      <h2>{{contact.name}}</h2>
      <p>{{contact.role}}</p>

      <ion-icon name="md-mail" item-right class="blue-icon"></ion-icon>
      <ion-icon name="call" item-right class="blue-icon"></ion-icon>
    </ion-item>
  </ion-list>

</ion-content>
