ion-profile-header {
  display: block;

  ion-item {
    .user-name {
      font-size: 1em;
      font-weight: bold;
      letter-spacing: 1px;
    }

    .user-position {
      font-style: italic;
      font-size: 0.9em;
    }

    .user-orgaunit {
      ion-icon {
        font-size: 1em;
        margin-right: 3px;
      }
    }
  }
}
