list-item {
  .item {
    .item-avatar {
      font-size: 32px;
      text-align: center;
      border-radius: 30px;
      background: $listitem-avatar-background-color;
      color: $listitem-avatar-text-color;
      padding-top: 10px;
    }
    .label {
      h2 {
        color: $listitem-label-text-color;
      }
      p {
        color: $listitem-sublabel-text-color;

        .icon {
          color: $listitem-sublabel-icon-color;
        }
      }
    }
    p {
      font-size: 1.4rem;
      margin: 5px 0 0 0;

      .item-icon {
        margin: 0 0.7rem 0 0;
        font-size: 1.4rem;
      }
    }
    ion-icon[item-right] {
      color: $listitem-icon-forward;
    }
  }


}
