tabs {

  .tabs .tabbar {
    background: $tabbar-background-color;

    .tab-button {
      border-top: 2px solid $tabbar-border-top;

      .tab-button-text{
        display: block;
      }

      &[aria-selected=true]{
        border-top: 2px solid $tabbar-border-top-selected;
        color: $tabbar-tab-color;

        .tab-button-icon {
          color: $tabbar-tab-color;
        }
      }

      &:hover:not(.disable-hover){
        color: $tabbar-tab-color;
      }
    }
  }
}
