//Toolbar
.toolbar {
  &-content {
    top: 15px;
    position: absolute;
    width: 100%;
    z-index: -1;
  }

  &-title{
    text-align: center;
  }
}

.title {
  text-transform: uppercase;
  font-family: "VWTextLight", "Roboto", sans-serif;
}

//Icons

.ion-ios-arrow-forward {
  color: $grey-light;
}

.list-ios > .item-block:first-child {
  border: none !important;
}

.list-ios > .item-block:last-child {
  border: none !important;
}

//Toast

.toast {
    &-success {
      &.toast-ios .toast-message, .toast-md .toast-message  {
        text-align: center;
        background-color: color($colors, success);
      }
    }
}
