//Toolbar

.toolbar-title {
  	margin: 0 auto;
    text-align: center;
  }

.title {
  font-family: "VWTextLight", "Roboto", sans-serif;
}

ion-title.title.title-md {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.back-button.show-back-button {
  z-index: 1000;
}

//Icons

// .ion-ios-arrow-forward {
//   color: $grey-light;
// }

.list-ios > .item-block:first-child {
  border: none !important;
}

.list-ios > .item-block:last-child {
  border: none !important;
}

//Toast

.toast {
    &-success {
      &.toast-ios .toast-message, .toast-md .toast-message  {
        text-align: center;
        background-color: color($colors, success);
      }
    }
}
