<ion-content class="login-content tutorial-page" no-bounce>
  <div *ngIf=showStart class="start-content">

    <ion-slides pager>
      <ion-slide *ngFor="let slide of slides">
        <img [src]="slide.image" class="slide-image"/>
        <h2 class="slide-title" [innerHTML]="slide.title"></h2>
        <p [innerHTML]="slide.description" class="text-color-white"></p>
      </ion-slide>
      <ion-slide>
        <img src="assets/img/viologowhite.png" class="slide-image"/>
        <h2 class="slide-title"> Viel Spaß mit V.io</h2>
        <ion-row>
          <ion-col>
            <button ion-button round (click)="showStart = false;">Start</button>
          </ion-col>
        </ion-row>
      </ion-slide>
    </ion-slides>
  </div>

  <div *ngIf=!showStart class="login-content">
    <ion-row>
      <ion-col>
        <ion-img src="assets/img/viologowhite.png"></ion-img>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <form [formGroup]="data" (ngSubmit)="login()">
          <ion-list>
            <ion-item>
  				<ion-icon name="person" item-left></ion-icon>
              	<ion-input type="text" placeholder="User-ID" formControlName="username"></ion-input>
            </ion-item>
            <ion-item>
              <ion-icon name="lock" item-left></ion-icon>
              <ion-input type="password" placeholder="Passwort" formControlName="password"></ion-input>
            </ion-item>
          </ion-list>
          <button ion-button round type="submit">Anmelden</button>
          <div class="forgot-password">Passwort vergessen? <span><a href="">Hier &auml;ndern</a></span></div>
        </form>
      </ion-col>
    </ion-row>
  </div>

</ion-content>
