// http://ionicframework.com/docs/v2/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
//@import 'theme/variables.scss';
@import "basscss";

@import "theme/themes/vw";
@import "theme/themes/man";
@import "theme/themes/porsche";

ion-header.header {
  .toolbar-background {
    background:  $header-background;
    border-bottom: $header-background;
    border: none;
  }

  .toolbar-title {
    color: $header-text-color;
  }

  .toolbar {
    .bar-button {
      color: #FFF;
    }
  }

  .back-button {
    color: $header-text-color;
  }

  .bar-button-default {
    color: $header-text-color;
    font-size: 14px;
  }
  &.header-md::after{
    background: none;
  }
}



.list list-item .item-block .item-inner {
  border-bottom: 0.55px solid $listitem-border-bottom;
}

.padding {
  padding: 15px;
}

.no-padding {
  padding: 0 !important;
}

.item-md ion-avatar ion-img, .item-md ion-avatar img,
.item-ios ion-avatar ion-img, .item-ios ion-avatar img {
  width: auto;
  height: auto;
}

.item-md ion-avatar,
.item-ios ion-avatar {
  width: 60px;
  height: 60px;

  img {
    max-width: 60px !important;
    max-height: 60px !important;
    border-radius: 30px !important;
  }
}

.item-avatar {
  font-size: 32px;
  text-align: center;
  border-radius: 30px;
  background: #1e69a2;
  color: white;
  padding-top: 10px;
}

.blue-icon {
  color: #1db2e8;
  border: 1px solid #1db2e8;
  border-radius: 16px;
  width: 32px;
  height: 32px;
  text-align: center;
  font-size: 20px !important;
  padding-top: 5px;
}
