calendar {
  //float:left;
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  background: white;

  $border-colour: #CCC;
  $secondary-colour: #2875C7;
  $spacing: 10px;
  $icon-width: 40px;
  $header-height: 40px;

  .calendar-header {
    //float:left;
    width: 100%;
    height: $header-height;
    color: $calendar-header-text-color;

    > * {
      height: $header-height;
      line-height: $header-height !important;
      display: inline-block;
      vertical-align: middle;
    }

    > ion-icon {
      float: left;
      width: $icon-width;
      font-size: 1.125em;
      font-weight: bold;
      position: relative;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      padding: 0 $spacing;
      cursor: pointer;
    }

    > .left-arrow {
      text-align: left;
      padding-left: 25px;
    }

    > .right-arrow {
      text-align: right;
      margin-left: $icon-width*-1;
      padding-right: 25px;
    }

    > span {
      float: left;
      width: 100%;
      font-weight: bold;
      text-transform: uppercase;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      padding-left: $icon-width+$spacing;
      margin-left: $icon-width*-1;
      text-align: center;
      padding-right: $icon-width;
      color: inherit;
    }
  }

  .weeks {
    float: left;
    border-bottom: 1px solid #CCC;
    > div.week {
      float: left;
      width: 100%;
      border-top: solid 1px $border-colour;

      &:first-child {
        border-top: none;
      }

      &.names {
        > span {
          color: $calendar-weeks-day-text-color;
          font-weight: bold;
          font-size: 14px;
        }

        .day {
          height: 40px;
          background: $calendar-weeks-day-background-color;
          border-left: solid 1px #e1e1e1;
        }
      }

      > .day {
        float: left;
        width: (100%/7);
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        border-left: solid 1px $border-colour;
        padding: 3px 3px 3px 3px;
        font-size: 0.75em;
        text-align: center;
        height: 60px;
        line-height: 30px !important;
        display: inline-block;
        vertical-align: middle;
        background: white;
        cursor: pointer;

        &:first-child {
          border-left: none;
        }

        &.today {
          background: $calendar-today-background-color;
        }

        &.different-month {
          color: $calendar-different-month-text-color;
        }

        &.selected {
          border: 3px solid $calendar-selected-border-color;
          border-left: 4px solid $calendar-selected-border-color;
          padding: 0;
        }

        &.plan {
          color: white;
        }

        span {
          display: block;
        }

        .number {
          font-size: 14px;
          line-height: 18px;
          padding-left: 22%;
          text-align: left;
        }

        .letter {
          font-size: 18px;
          line-height: 30px;
        }
      }
    }
  }

  .selected-day-info {
    background: $calendar-info-background-color;
    float: left;
    width: 100%;
    color: black;
    padding: 30px;
    border-bottom: 1px solid #CCC;

    div {
      width: 100%;
      padding: 7px 0;
    }

    .long-date-format {
      h3 {
        font-size: 18px;
        font-weight: bold;
        margin: 0;
      }
    }

    span {
      font-size: 12px;
      &.right {
        float: right;
      }
    }
  }

  .plan-types {
    float: left;
    width: 100%;
    border-bottom: 1px solid #CCC;
    padding: 30px;

    .type-badge {
      width: 28px;
      height: 28px;
      color: white;
      border-radius: 14px;
      text-align: center;
      padding: 5px 2px;
      display: inline-block;
    }

    .type-name {
      margin-left: 20px;
      display: inline-block;
      font-size: 20px;
    }

    .days-count {
      float: right;
      line-height: 27px;
      color: #989898;
    }
  }
}
