<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'PERSONAL.TITLE' | translate }}</ion-title>
    <ion-buttons right>
      <button ion-button icon-only color="white" (click)="goToSettings()">
        <ion-icon name="settings"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="content-stable" no-bounce>
  <ion-profile-header [data]="userData"></ion-profile-header>

  <ion-list>
    <ng-container *ngFor="let menuItem of menuItems">
      <list-item *ngIf="authorizationService.isAuthorized(menuItem.id)" [content]="menuItem"></list-item>
    </ng-container>
  </ion-list>
</ion-content>
