page-personal {

  ion-header {
    .toolbar-background {
      background: #2284b9;
      border-bottom: #2284b9;
    }

    .toolbar-title {
      color: white;
    }

    .bar-button-default {
      color: white;
      font-size: 14px;
    }
  }
}
