<ion-header>
  <ion-navbar>
    <img src="assets/img/Logo_KoKo_weiss.png" style="width: 100px; margin-left:10px;">
  </ion-navbar>
</ion-header>
<ion-content class="home-page-content" no-bounce>
  <div><img width="100%" height="100%" src="assets/img/Mein_Team_1.png" *ngIf="img1Visible" (click)="img1Visible=false; img2Visible=true;"></div>
  <div><img width="100%" height="100%" src="assets/img/Mein_Team_2.png" *ngIf="img2Visible" (click)="img2Visible=false; img3Visible=true;"></div>
  <div><img width="100%" height="100%" src="assets/img/Mein_Team_3.png" *ngIf="img3Visible" (click)="img3Visible=false; img4Visible=true;"></div>
  <div><img width="100%" height="100%" src="assets/img/Mein_Team_4.png" *ngIf="img4Visible" (click)="img4Visible=false; img5Visible=true;"></div>
  <div><img width="100%" height="100%" src="assets/img/Mein_Team_5.png" *ngIf="img5Visible" (click)="img5Visible=false; img6Visible=true;"></div>
  <div><img width="100%" height="100%" src="assets/img/event.png" *ngIf="img6Visible" (click)="closeMeeting()"></div>
</ion-content>