ion-profile-header {
  display: block;

  ion-item {
    background-color: #2284b9 !important;
    p {
      color: white !important;
    }

    .user-name {
      font-size: 1.3em;
      letter-spacing: 1px;
    }

    .user-position {
      font-style: italic;
      font-size: 0.95em;
    }

    .user-orgaunit {
      ion-icon {
        margin-right: 5px;
      }
    }
  }
}
